.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  width: 5px;
  height: 5px;
  line-height: 5px;
  
  color: #aaa;
  text-align: center;
}
.has-search .form-control {
  padding-left: 10px;
}
.has-search{
  margin-bottom: 5px;
}
.main-body {
  display: flex;
}
.main-body h3 {
  text-align: left;
}

.main-section {
  padding: 25px;
}

.right-sec {
  display: flex;
  
  width: 100%;
}
