img.pp-photo {
  width: 100%;
}
.display-img {
  height: 2000px;
  width: 200px;
  align-items: center;
  justify-content: center;
}
.user-name {
  text-align: center;
}
.user-details {
  display: flex;
  width: 100%;
  justify-content: center
}

